<!DOCTYPE html>
<html>

<head>
    <title>腾讯智推 - 鲜活你的脑袋</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1,initial-scale=1,user-scalable=yes">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="keywords" content="腾讯智推、腾讯网、腾讯视频、新闻、娱乐、体育、NBA、热点、资讯、聚合、推荐、个性化、兴趣、爱好、阅读、消息、搞笑、幽默、吐槽、生活、话题、工作、腾讯" />
    <meta name="description" content="腾讯智推是腾讯网下的智能推荐平台，定位于为用户提供个性化的推荐内容。聚焦当下娱乐、体育、美食、旅游、科技、幽默等轻资讯内容，包含图文、短视频、趣图等内容元素。希望能打造乐活的产品形象，鲜活你的脑袋。" />
    <link rel="shortcut icon" href="http://mat1.gtimg.com/www/icon/favicon2.ico" />
    <script type="text/javascript">
        var _speedMark = new Date();
    </script>
    <script src="http://js.aq.qq.com/js/aq_common.js"></script>
    <!--[if lt IE 8]><script>document.location.href="/tip.html";</script><![endif]-->
</head>

<body>
    <div id="app"></div>
    <script src="http://pingjs.qq.com/ping.js"></script>
    <script type="text/javascript" src="http://tajs.qq.com/stats?sId=59378091" charset="UTF-8"></script>
</body>

</html>